[MESSAGES CONTROL]
	disable=
		missing-docstring,
		too-few-public-methods,
		invalid-name,
		bad-mcs-method-argument,
		fixme,
		no-member,
		too-many-arguments,
		duplicate-code,
		cyclic-import,
		not-callable,
		attribute-defined-outside-init,
		consider-using-f-string,
		super-init-not-called,
		arguments-renamed,
		arguments-differ,
		invalid-overridden-method,
		import-outside-toplevel,
		global-statement,
		exec-used,
		wildcard-import,
		unused-wildcard-import
[FORMAT]
	indent-string='	'
[MASTER]
	init-hook='import sys; sys.path.append("./library")'
