asyncstdlib==3.10.5
coverage-badge==1.1.0
coverage-badge==1.1.0
pylint==2.14.5
pylint-ignore==2021.1024
pytest==7.1.2
pytest-cov==3.0.0
pytest-cov==3.0.0
pytest-cov==3.0.0
pytest-forked==1.4.0
pytest-forked==1.4.0
pytest-mock==3.8.2
pytest-mock==3.8.2
pytest-mock==3.8.2
pytest-xdist==2.5.0
pytest-xdist==2.5.0
pytest-xdist==2.5.0
PyYAML==6.0
snakeviz==2.1.1
